<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;post_register.setUp()[pri:0, instance:test.tc_post.post_register@6e1567f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:48</td>   <td>433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register.run_post_register()[pri:1, instance:test.tc_post.post_register@6e1567f1]">run_post_register</td> 
  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:50</td>   <td>2978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;post_register.setUp()[pri:0, instance:test.tc_post.post_register@6e1567f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:51</td>   <td>3227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register.run_post_login()[pri:2, instance:test.tc_post.post_register@6e1567f1]">run_post_login</td> 
  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:51</td>   <td>3335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;post_register.setUp()[pri:0, instance:test.tc_post.post_register@6e1567f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>18/11/15 19:55:51</td>   <td>3515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register.getuserprofile_web()[pri:3, instance:test.tc_post.post_register@6e1567f1]">getuserprofile_web</td> 
  <td>main@2142003995</td>   <td></td> </tr>
</table>
